# Build directories
build/
build_py/
.DS_Store

# CMake artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Python
__pycache__/
*.pyc
.venv/

# My own stuff
.vscode/

#csv Generator for OHLCV bars 
python/Generator.py

#Sample data
samples/*
!samples/AAPL.csv