# Build directories
build/
build_py/
.DS_Store

# CMake artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Python
__pycache__/
*.pyc
.venv/

# My own stuff
.vscode/
samples/Bitcoin.csv
samples/BTCREC.csv
samples/BTCREC2.csv
samples/tesla.csv
samples/ETHOHLCV.csv
samples/ETH.csv
samples/BTCREC3.csv 
